* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: flex;
	align-items: center;
	height: 48px;
	width: 100%;
}

.nav {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	padding: 8px;
	height: 40px;
	width: 100%;
	left: 311px;
	top: 4px;
	border-radius: 8px;
	padding: 8px;
}
