* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

button {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.main-heading {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 8px;
  height: 40px;
  width: 100%;
  left: 311px;
  top: 4px;
  border-radius: 8px;
}

.menu-icon {
  padding-right: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro-container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 24px;
  align-items: center;
  height: 100vh;
  width: 85%;
}

.intro-heading {
  font-style: normal;
  line-height: 52px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: #36b37e;
}

.intro-heading span {
  color: #172b4d;
  transition: 1s;
  transition-duration: 0.7s;
}

.intro-heading span:hover {
  font-size: 60px;
  word-spacing: 2px;
  color: #9b9b9b;
  font-weight: 900;
  text-transform: uppercase;
}

.intro-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 70px;
}

.action-button {
  display: flex;
  padding: 8px;
  width: 40px;
  height: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.works {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 327px;
}

.indicator-container {
  height: 32px;
  margin: 10px 0 20px;
}

.works-header {
  text-align: center;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
}

.works-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
  grid-gap: 2rem;
}

.card {
  background-image: url('./images/Img-Placeholder.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
  width: 327px;
  height: 474px;
  gap: 1rem;
  margin-top: 20px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.text-container {
  border-radius: 8px;
  height: 222px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title-container {
  margin: 16px;
  height: 57px;
  width: 295px;
}

.project-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

.tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 329px;
  height: 32px;
  gap: 8px;
  list-style: none;
  background-color: #fff;
}

.tech li {
  background: #ebf0ee;
  width: -moz-fit-content;
  width: fit-content;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  padding: 10px 5px;
  color: #3a4a42;
}

.project-button {
  width: 122px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px;
  width: 305px;
  height: 69px;
  margin-top: 20px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px;
}

.about-me__text {
  position: relative;
  display: flex;
  background-image: url('./images/illustration-about-me-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 50px;
}

.about-me__header {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  width: 90%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  margin-top: 20px;
  width: 95%;
}

.about-me__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  margin-top: 20px;
  padding: 12px;
  gap: 10px;
  background: #36b37f;
}

.side-image {
  position: absolute;
  top: -70px;
  right: -18px;
  width: 68px;
  height: 127px;
}

.about-me_cards__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  width: 90%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px 20px;
}

.about-me__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.about-me__card {
  background-image: url('./images/Img-Placeholder.png');
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  height: 316px;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

.about-me__image {
  padding-top: 20px;
  display: flex;
}

.language-lists {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  list-style: none;
}

.language-list {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding: 12px;
  background: #fff;
  border-radius: 8px;
  margin-top: 10px;
}

button:enabled {
  border: 1px solid #ced6de;
  background: #36b37f;
  border-radius: 4px;
}

button:hover {
  width: 200px;
  font-weight: 900;
  font-size: x-large;
  color: #a07597;
  text-transform: capitalize;
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  border-radius: 4px;
  padding: 0;
}

button:active {
  background: #008552;
  transform: calc(50% - 48px / 2 - 76.5px);
  border: 1px solid #ced6de;
  border-radius: 4px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 879px;
  position: relative;
}

.contact-heading {
  margin: 54px 30px 58px 24px;
  width: 327px;
  height: 363px;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.form-container {
  width: 327px;
  height: 330px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

form input {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  padding: 15px 16px;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

.textarea {
  width: 327px;
  height: 114px;
  position: relative;
  background-color: #fff;
}

.textarea textarea {
  background-color: #fff;
  width: 100%;
  height: 114px;
  padding: 12px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #42526e;
  border: 1px solid #60c095;
  border-radius: 4px;
}

.icon-resizer {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  right: 1.5px;
  bottom: 1.5px;
  color: #60c095;
}

.submit-button {
  width: 129px;
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  padding: 10px;
  margin: 24px 0 31px;
}

.contact-details {
  width: 381px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-details h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  text-decoration: none;
}

.contact-details a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-side__image {
  position: absolute;
  bottom: 0;
  right: -10px;
}

@media (min-width: 375px) {
  .about-me__paragraph {
    width: 85%;
  }

  .about-me {
    height: 1522px;
  }

  .contact-me {
    height: 879px;
  }

  .works {
    height: 3283px;
  }

  .main-heading {
    height: 653.32px;
  }

  .social {
    width: 0;
  }

  .action {
    margin: 0;
  }

  .about-me__text {
    background-position-y: bottom;
  }
}

@media (max-width: 375px) {
  .main-heading {
    margin-bottom: 0;
  }

  .side-image {
    top: -70px;
  }

  .about-me__text {
    width: 100%;
    background-position-y: bottom;
  }
}

@media (min-width: 350px) {
  .side-image {
    top: -50px;
  }
}

@media (max-width: 767px) {
  .nav-list,
  .form-img-center,
  .form-desktop-image,
  .desktop-img,
  .aboutme2-desktop-img {
    display: none;
  }

  .nav-list--item a {
    text-decoration: none;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    align-items: center;
    color: #3a4a42;
    padding-left: 20px;
  }

  .display-menu {
    list-style: none;
    width: 101%;
    height: 98vh;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    overscroll-behavior: none;
    left: 0;
    top: -10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .menu-toggle-close {
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    margin-left: 90%;
    color: #67798e;
  }

  .mobile-menu-img {
    position: fixed;
    bottom: -0.1%;
    left: 50%;
    transform: translate(-50%);
  }

  .main-heading {
    margin-bottom: 200px;
  }

  .side-image {
    top: 0;
  }

  .about-me__text {
    margin: 30px;
    height: 100%;
    width: 90%;
  }

  .intro {
    background-image: url('./images/header-illsutration-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .intro-container {
    justify-content: center;
  }

  .popup-container{
     display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      background: #c1c7d0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  .popup {
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    width: 75%;
    height: 92%;
  }

}

@media (min-width: 768px) {
  .header {
    height: 72px;
    width: 100%;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 40px;
    list-style: none;
    gap: 8px;
  }

  .nav-list--item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 20px;
  }

  .nav-list--item a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .menu-toggle-open,
  .menu-toggle-close {
    display: none;
  }

  .mobile-menu-img {
    display: none;
  }

  .popup-container{    
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #c1c7d0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .popup {
    background: #fff;
    border: 1px solid #ebecf0;
    box-shadow: 0px 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 8px;
    width: 75%;
    display: block;
    height: 92%;
  }

  .close-popup-container{
    margin: 0 auto;
    padding-bottom: 10px;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: end;

  }

  .close-popup{
    font-size: 30px;
    text-decoration: none;
    color: #67798e;
    padding: 3px 20px 7px;
    background:#c1c7d0 ;
    border-radius: 10px;
    margin: 10px 24px 0 ;
  }

  .popup-image-container{
    padding-bottom:10px ;
    margin: auto;
    width: 92%;
    height: 50%;
  }

  .popup-image{
    width: 100%;
    height: 100%;
  }

  .popup-first-text{
    padding-bottom: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 92%;
    gap: 20px;
  }

  .popup-first-text h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
  }

  .popup-last-text{
    padding-bottom: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 92%;
  }

  .popup-link-container{
    display: flex;
    width: 40%;
    gap: 10px;
    justify-content: flex-end;
  }

  .popup-link-container a{
    text-align: center;
    text-decoration: none;
    padding: 12px 3px;
    text-decoration: none;
  }

  .popup-link-container a :hover{ 
    font-weight: 900;
    font-size: x-large;
    color: #a07597;
    background: #36b37f;
    box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
  }

  .popup-link-container a:active{
    transform: calc(50% - 48px / 2 - 76.5px);
    border: 1px solid #ced6de;
    border-radius: 4px;
  }

  .popup-link-container a:enabled{
    border: 1px solid #ced6de;
    border-radius: 4px;
  }

  .popup-last-text ul{
    list-style: none;

  }

  .popup-last-text ul li{
    background-color: #ebecf0;
    margin-right: 9px;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
  }

  .popup-last-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .main-heading {
    background-image: url('./images/Header-llustration-desktop.svg');
    background-position: top;
    background-repeat: no-repeat;
    height: 1059px;
  }

  .intro {
    height: 800px;
  }

  .intro-container {
    justify-content: start;
    width: 65%;
    height: 756px;
    margin-top: 120px;
  }

  .intro-heading {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .intro-description p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding: 0 50px;
  }

  .social {
    width: 200px;
    height: 40px;
  }

  .social-links {
    margin-bottom: 0;
  }

  .social-links :nth-child(1) {
    order: 4;
  }

  .social-links :nth-child(2) {
    order: 2;
  }

  .social-links :nth-child(3) {
    order: 5;
  }

  .social-links :nth-child(4) {
    order: 1;
  }

  .social-links :nth-child(5) {
    order: 3;
  }

  .social-links a img {
    width: 25px;
    height: 25px;
  }

  a.action-button {
    border: 1px solid #dfe1e6;
    border-radius: 32px;
    width: 40px;
    height: 40px;
  }

  .action {
    margin-top: 70px;
  }

  .main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .header-container .indicator-container img {
    display: none;
  }

  .works {
    height: 100%;
  }

  .works-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(369px, 1fr));
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-items: center;
    align-content: center;
  }

  .card,
  .text-container {
    background-size: contain;
    width: 369px;
  }

  .side-image {
    display: none;
  }

  .about-me {
    width: 100%;
    height: 100%;
    background-image: url('./images/illustration-about-me-desktop.png');
    background-repeat: no-repeat;
    justify-content: center;
    background-position-x: right;
    margin-top: 0;
  }

  .about-me__text {
    width: 60%;
    background-image: initial;
  }

  .form-img-center {
    position: absolute;
    width: 130px;
    height: 105px;
    left: 234px;
    bottom: -100px;
  }

  .about-me__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .about-me__card {
    width: 369px;
    height: 316px;
    background-size: cover;
  }

  .about-me__header {
    width: 50%;
    height: 48px;
  }

  .about-me__paragraph {
    width: 80%;
    height: 100%;
  }

  .contact-me {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 490px;
    margin-bottom: 158px;
  }

  .contact-heading {
    width: 463px;
    height: 256px;
    font-size: 30px;
  }

  .form-container {
    width: 684px;
    height: 330px;
  }

  .form-desktop-image {
    position: absolute;
    bottom: -140px;
    right: -80px;
  }

  form {
    align-items: start;
  }

  .textarea {
    width: 100%;
  }

  .contact-details {
    display: none;
  }

  .footer-img {
    display: none;
  }

  footer {
    width: 100%;
    height: 72px;
    justify-content: center;
    position: relative;
  }

  .form-side__image {
    display: none;
  }

  .aboutme2-desktop-img {
    position: absolute;
    width: 288.04px;
    height: 126.82px;
    left: -253px;
    bottom: 20px;
  }

  .desktop-img {
    position: absolute;
    width: 236px;
    height: 261.09px;
    bottom: -150px;
    left: -70px;
  }

  hr {
    background: #dfe1e6;
    width: 100%;
    position: absolute;
    top: 0;
  }
}
